body {
  color: white;
  background: blue;
  font-family: 'Sniglet',cursive;
}
button {
  font-family: 'Sniglet',cursive;
  border:none;
  background: red;
  outline:none;
}
.text {
 background-color: white;
  width: 300px;
  border: none;
  padding: 10px;
  margin: 25px;
  font-family: 'Sniglet',cursive;
  position: absolute;
  left: 750px;
  top: 50px;
  color: black;
}
.MainCharacter {
  position: absolute;
  left: 750px;
  top: 200;
}
.introformc {
  background-color: white;
  width: 200px;
  border: none;
  padding: 25px;
  margin: 25px;
  font-family: 'Sniglet',cursive;
  position: absolute;
  left: 750px;
  top: 200px;
  color: black;
}
